name: CI

on:
  push:
    branches: ["main", "master", "feature*","hotfix*","bugfix*"]
    tags: ["v*", "release*"]
  pull_request:
    branches: ["main", "master", "release*", "v*","hotfix*","bugfix*"]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  quality:
    name: Format, Lint, Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache cargo registry and build
        uses: Swatinem/rust-cache@v2

      - name: Check formatting
        run: cargo fmt --all --check

      - name: Run clippy
        run: cargo clippy --all-targets -- -D warnings

      - name: Run tests
        run: cargo test --locked --all-targets

  build:
    name: Build (${{ matrix.target }})
    # if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          # - os: ubuntu-latest
          #   target: aarch64-unknown-linux-gnu
          #   setup_cross: true
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: macos-latest
            target: x86_64-apple-darwin
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      # - name: Setup Linux ARM64 cross linker
      #   if: matrix.setup_cross
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y gcc-aarch64-linux-gnu

      # - name: Configure linker for Linux ARM64 target
      #   if: matrix.setup_cross
      #   run: |
      #     echo "CC_aarch64_unknown_linux_gnu=aarch64-linux-gnu-gcc" >> "$GITHUB_ENV"
      #     echo "CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc" >> "$GITHUB_ENV"

      - name: Cache cargo registry and build
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - name: Build release binary
        run: cargo build --locked --release --target ${{ matrix.target }}

  ci-success:
    name: Final CI Check
    needs: [quality, build]
    runs-on: ubuntu-latest
    steps:
      - name: CI Success
        run: echo "All Checks Passed Successfully!"
